* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("images2/bg.jpg");
    color: white;
    height: 100%;
    overflow: hidden;
    /* border: 2px solid red; */
}

#front-page {
    position: absolute;
    /* top: 35%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    /* background-color: transparent; */
    /* backdrop-filter: blur(20px); */
    padding: 40px;
    border-radius: 16px;
    z-index: 10;
    width: 50%;
    height: 80%;
    /* max-width: 700px; */
    color: #f8f9fa;
    /* border: 2px solid red; */
}

#front-page h1 {
    padding-bottom: 20px;
}

.front-content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.rules-box {
    height: 75%;
    width: 85%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;

}

.rules-box p {
    margin: 0;
    font-size: 1.4em;
    font-weight: 300;
    /* text-decoration: underline; */
    /* border: 2px solid red; */
}


.rules-box ul {
    list-style: disc;
    /* margin: 10px 0 0 20px; */
    padding: 0;
    /* text-align: center; */
    /* border: 2px solid red; */
    text-align: left;
    margin-top: -2%;
    margin-bottom: 4%;
}

.rules-box li {
    margin: 10px 0;
    /* border: 2px solid red; */
}

.box-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    /* border: 2px solid red; */
    width: 30%;
}

.button-83 {
    border-radius: 8px;
    width: 90%;
    padding: 10px;
    font-size: 18px;
    border: 0px;
    background-color: beige;
    /* border: 2px solid red; */
    cursor: pointer;

}

.button-83:hover {
    background-color: transparent;
    color: white;
    border: 1px solid beige;
    cursor: pointer;
}

/* next page start  */

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(15px);
    z-index: 2;
    /* border: 2px solid red; */
}

#game-content {
    /* border: 2px solid red; */
    height: 100%;
}

#ncert_img {
    position: absolute;
    width: 80px;
    top: 20px;
    left: 20px;
}

#text-content {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* border: 2px solid red; */
}

#dialogue-box {
    display: none;
    backdrop-filter: blur(100px);
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    width: 40%;
    height: 60%;
    top: 20%;
    left: 28%;
    bottom: 30%;
    z-index: 5;
    /* border: 2px solid red; */

}

#board {
    position: relative;
    width: 36%;
    /* width: 540px;
    height: 540px; */
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 0 auto;
    margin-top: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-wrap: wrap; */
    backdrop-filter: blur(30px);
    z-index: 2;
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;

}

#data {
    z-index: 3;
    /* border: 2px solid red; */
}

#score,
#timer {
    z-index: 3;
    display: inline-block;
    /* padding-right: 20px; */
    /* border: 2px solid red; */
    text-align: center;
    margin: 0.5%;

}

#board div {
    /* width: 170px; */
    width: 100%;
    height: 170px;
    /* background-image: url("images2/board char.png"); */
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid gray;
    /* border: 2px solid red; */ 
    /* poor items  */
}

#board div img {
    margin-top: 5px;
    width: 120px;
    height: 155px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#timer_call {
    display: none;
    /* border: 2px solid red; */
}

#wrong_answer {
    display: none;

    /* border: 2px solid red; */
}

#wrong_answer h1 {
    margin-top: 4%;
}

#wrong_answer h4 {
    /* border: 2px solid yellow; */
    padding: 1%;
    font-weight: 400;
    margin-top: 1%;
}

.your_score {
    padding: 1%;
    font-weight: 400;
    margin-top: 0.5%;
}

#rich {
    
    background-color: white;
    padding: 0.5% 4%;
    border-radius: 4px;
    color: black;
    font-weight: 600;
}

#final_score {
    background-color: white;
    padding: 0.5% 4%;
    border-radius: 4px;
    color: black;
    font-weight: 600;
}

.restart_btn {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: 40%;
}

#restart {
    width: 85%;
}

#exit {
    width: 85%;
    margin-right: 3%;
    margin-top: 1%;
}
img{
    max-width: 100%;
    max-height: 100;
    

}
#factbox{
    display: flex;
/*     border: 2px solid red;
 */    margin: auto;
    height: 130px;
    width: 200px;
    padding: 10px;
    align-items: center;
    justify-content: center;

}
#facts{
    padding: 10px;
    padding-top: 25px;
}
/* @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fade-out {
    animation: fadeOut 1s forwards;
} */